<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.along.ui1project">
    <!--往SDCard写入数据权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--请求访问使用照相设备-->
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MyHomePage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--lijunming-->
        <activity android:name="com.example.first.project.GoodsDetailsActivity"/>
        <activity android:name="com.example.first.project.LoginPageActivity" />
        <activity android:name="com.example.first.project.OrderToPageActivity" />
        <!--<activity android:name="com.example.first.project.YiHomeActivity" />-->
        <activity android:name="com.example.first.project.FoodRulesActivity" />
        <activity android:name="com.example.first.project.MyFoodActivity" />
        <activity android:name="com.example.first.project.OrganicLifeActivity" />
       //微博需要的权限权限
        <activity android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" >
        </activity>
        <service android:name="com.sina.weibo.sdk.net.DownloadService"
            android:exported="false">
        </service>

            <!--lijunming-->

        <!--longweifeng-->
     <!--   <activity android:name=".PersonalInfo" />-->
        <activity android:name=".PersonalSetting" />
        <activity android:name=".ShopShowActivity" />
        <!--longweifeng-->

        <!--zxy-->
        <activity android:name="com.example.zxy.AboutUs" />
        <activity android:name="com.example.zxy.Advice" />
        <activity android:name="com.example.zxy.Cooking" />
        <activity android:name="com.example.zxy.HealthyMenuOne" />
        <activity android:name="com.example.zxy.HealthyMenuThree" />
        <activity android:name="com.example.zxy.HealthyMenuTwo" />
        <activity android:name="com.example.zxy.ImageSetting" />
        <activity android:name="com.example.zxy.InviteFriend" />
        <activity android:name="com.example.zxy.NameSetting" />
        <activity android:name="com.example.zxy.SignatureSetting" />
        <activity android:name="com.example.zxy.NewFollowers" />
        <!--zxy-->

    </application>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!--微博权限ljm-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest>